<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    <span ng-bind-html="alert.msg"></span>
</alert>

<div>
    <h3>Loan application</h3>

    <p class="lead">

    <form role="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="app.name">
        </div>
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" placeholder="Surname" ng-model="app.surname">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" placeholder="99" ng-model="app.age">
        </div>
        <div class="form-group">
            <label for="jobPosition">Job position</label>
            <select class="form-control" id="jobPosition" ng-model="app.jobPosition">
                <option>IT</option>
                <option label="FINANCIAL SECTOR">FINANCIAL_SECTOR</option>
                <option>OTHER</option>
            </select>
        </div>
        <div class="form-group">
            <label for="loanAmount">Loan amount</label>
            <input type="text" class="form-control" id="loanAmount" placeholder="1000" ng-model="app.amount">
        </div>
        <button type="button" class="btn btn-default" ng-click="applyForLoan()">Apply for loan</button>
        <button type="button" class="btn" ng-click="refreshStatus()">Refresh status of {{loanId}}</button>
    </form>

    <hr/>


</div>